@model catchme.bg.Models.Question

<div>
    @Html.HiddenFor(x=>x.ID)
   
    <p>
        @Model.QuestionText
        @Html.RadioButton("Radio"+@Model.QuestionID.ToString(), 1) @Model.AnswerText1
        @Html.RadioButton("Radio"+@Model.QuestionID.ToString(), 2) @Model.AnswerText2
    </p>
    </div>



