<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Limboworld.net</title>
    <link href="https://kendo.cdn.telerik.com/2018.2.516/styles/kendo.common-material.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2018.2.516/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2018.2.516/styles/kendo.material.min.css" rel="stylesheet" type="text/css" />

    <script src="https://kendo.cdn.telerik.com/2018.2.516/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.2.516/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.2.516/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.2.516/js/kendo.aspnetmvc.min.js"></script>


    @*http://bestanimations.com/Earth&Space/Earth/Earth3.html*@

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="k-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                    <a asp-area="Main" asp-controller="Home" asp-action="Index">

                        <img src="~/images/earth-spinning-rotating-animation-40-2.gif" />
                    </a>

                </div>
                <div class="col-sm-9">
                    <h1><a asp-area="Main" asp-controller="Home" asp-action="Index" class="limboLink">Limboworld.net</a></h1>
                </div>
                <div class="col-sm-2">
                    <img src="@Url.Action("UserPhotos", "Home", new { area = "Main" })" height="48" width="48" />
                    <partial name="_LoginPartial" />
                    <button id="configure" class="k-rpanel-toggle k-button k-primary btn-toggle"><span class="k-icon k-i-hbars"></span></button>
                </div>
            </div>
        </div>
    </div>
    <partial name="_CookieConsentPartial" />
    <div class="container">
        <div id="topheader">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                @*<a class="navbar-brand" href="#">Limboworld.net</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item @(ViewBag.Current == "Home" ? "active" : "")">
                            <a asp-area="Main" asp-controller="Home" asp-action="Index" class="nav-link">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item @(ViewBag.Current == "Chat" ? "active" : "")">
                            <a asp-area="Main" asp-controller="Chat" asp-action="Index" class="nav-link">Chat <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item @(ViewBag.Current == "Mbti" ? "active" : "")">
                            <a asp-area="Main" asp-controller="Mbti" asp-action="Index" class="nav-link">Mbti <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item @(ViewBag.Current == "Profile" ? "active" : "")">
                            <a asp-area="Main" asp-controller="Profile" asp-action="Index" class="nav-link">Profile <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item @(ViewBag.Current == "Search" ? "active" : "")">
                            <a asp-area="Main" asp-controller="Search" asp-action="Index" class="nav-link">Search <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item @(ViewBag.Current == "About" ? "active" : "")">
                            <a asp-area="Main" asp-controller="Home" asp-action="About" class="nav-link">About <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item @(ViewBag.Current == "Contact" ? "active" : "")">
                            <a asp-area="Main" asp-controller="Home" asp-action="Contact" class="nav-link">Contact <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>

    <div class="container body-content">

        @RenderBody()
        <footer class="footer">
            <span class="text-muted">Copyright © @DateTime.Now.Year Limboworld.net Corporation and/or its subsidiaries or affiliates.</span>
            <span class="text-muted">All rights reserved.</span>
            <a asp-area="Legal" asp-controller="Home" asp-action="PrivacyPolicy">Privacy Policy</a>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
<script type="text/javascript">
    $(document).ready(function() {
        $('#topheader .navbar-nav a').on('click',
            function() {
                $('#topheader .navbar-nav').find('li.active').removeClass('active');
                $(this).parent('li').addClass('active');
            });
    });
</script>
</body>
</html>