<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Limboworld.net</title>
    <link href="https://kendo.cdn.telerik.com/2018.2.516/styles/kendo.common-material.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2018.2.516/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2018.2.516/styles/kendo.material.min.css" rel="stylesheet" type="text/css" />

    <script src="https://kendo.cdn.telerik.com/2018.2.516/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.2.516/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.2.516/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.2.516/js/kendo.aspnetmvc.min.js"></script>


    @*http://bestanimations.com/Earth&Space/Earth/Earth3.html*@

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="k-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                    <a asp-area="Main" asp-controller="Home" asp-action="Index">

                        <img src="~/images/earth-spinning-rotating-animation-40-2.gif" />
                    </a>

                </div>
                <div class="col-sm-9">
                    <h1><a asp-area="Main" asp-controller="Home" asp-action="Index">Limboworld.net</a></h1>
                </div>
                <div class="col-sm-2">
                    <img src="@Url.Action("UserPhotos", "Home", new { area = "Main" })" height="48" width="48" />
                    <partial name="_LoginPartial" />
                    <button id="configure" class="k-rpanel-toggle k-button k-primary btn-toggle"><span class="k-icon k-i-hbars"></span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container menu-content">
        <div id="responsive-panel">
            @(Html.Kendo().Menu()
                          .Name("Menu")
                          .Items(items =>
                          {
                              items.Add()
                                  .Text("Home")
                                  .Action("Index", "Home", new { area = "Main" });
                              items.Add()
                                  .Text("Chat")
                                  .Action("Index", "Chat", new { area = "Main" });
                              items.Add()
                                  .Text("MBTI")
                                  .Action("Index", "Mbti", new { area = "Main" });
                              items.Add()
                                  .Text("Profile")
                                  .Action("Index", "Profile", new { area = "Main" });
                              items.Add()
                                  .Text("Search")
                                  .Action("Index", "Search", new { area = "Main" });
                              items.Add()
                                  .Text("About")
                                  .Action("About", "Home", new { area = "Main" });
                              items.Add()
                                  .Text("Contact")
                                  .Action("Contact", "Home", new { area = "Main" });
                          })
            )

        </div>

    </div>
    <partial name="_CookieConsentPartial" />
    <div class="container body-content">

        @RenderBody()
        <footer class="footer">
            <span class="text-muted">Copyright © @DateTime.Now.Year Limboworld.net Corporation and/or its subsidiaries or affiliates.</span>
            <span class="text-muted">All rights reserved.</span>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $("#responsive-panel").kendoResponsivePanel({
                breakpoint: 768,
                autoClose: false,
                orientation: "top"
            });
        });
        function onclick(e) {
            $("#responsive-panel").getKendoResponsivePanel().toggle();
        }
    </script>
</body>
</html>