@model catchme.bg.Models.ProfileViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>

<hr />

<div>

    @using (Html.BeginForm("Index", "Profile", FormMethod.Post, new { @class = "" }))
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="row">

                <div class="col-sm">
                    @Html.LabelFor(m => m.Profile.SelectedAge)
                    @Html.DropDownListFor(m => m.Profile.SelectedAge, Model.AgeItems, "Select Age", new { @class = "dropdown-item", id = "ageDDL" })
                    @Html.ValidationMessageFor(m => m.Profile.SelectedAge, "", new { @class = "text-danger" }) <br />

                    @Html.LabelFor(m => m.Profile.SelectedGender)
                    @Html.DropDownListFor(m => m.Profile.SelectedGender, Model.GenderItems, "Select Gender", new { @class = "dropdowns", id = "ageDDL" })
                    @Html.ValidationMessageFor(m => m.Profile.SelectedGender, "", new { @class = "text-danger" })  <br />

                    @Html.LabelFor(m => m.Profile.SelectedLookingFor)
                    @Html.DropDownListFor(m => m.Profile.SelectedLookingFor, Model.LookingForItems, "Select Looking For", new { @class = "dropdowns", id = "ageDDL" })
                    @Html.ValidationMessageFor(m => m.Profile.SelectedLookingFor, "", new { @class = "text-danger" })  <br />

                    @Html.LabelFor(m => m.Profile.SelectedMaritalStatus)
                    @Html.DropDownListFor(m => m.Profile.SelectedMaritalStatus, Model.MaritalStatusItems, "Select Marital Status", new { @class = "dropdowns", id = "ageDDL" })
                    @Html.ValidationMessageFor(m => m.Profile.SelectedMaritalStatus, "", new { @class = "text-danger" })  <br />

                    @Html.LabelFor(m => m.Profile.SelectedChildren)
                    @Html.DropDownListFor(m => m.Profile.SelectedChildren, Model.ChildrenItems, "Select Children", new { @class = "dropdowns", id = "ageDDL" })
                    @Html.ValidationMessageFor(m => m.Profile.SelectedChildren, "", new { @class = "text-danger" })  <br />
                </div>
                <div class="col-sm">


                    @Html.LabelFor(m => m.Profile.SelectedEyeColor)
                    @Html.DropDownListFor(m => m.Profile.SelectedEyeColor, Model.EyeColorItems, "Select Eye Color", new { @class = "dropdowns", id = "ageDDL" })
                    @Html.ValidationMessageFor(m => m.Profile.SelectedEyeColor, "", new { @class = "text-danger" })  <br />

                    @Html.LabelFor(m => m.Profile.SelectedHairColor)
                    @Html.DropDownListFor(m => m.Profile.SelectedHairColor, Model.HairColorItems, "Select Hair Color", new { @class = "dropdowns", id = "ageDDL" })
                    @Html.ValidationMessageFor(m => m.Profile.SelectedHairColor, "", new { @class = "text-danger" })  <br />

                    @Html.LabelFor(m => m.Profile.SelectedWeight)
                    @Html.DropDownListFor(m => m.Profile.SelectedWeight, Model.WeightItems, "Select Weight", new { @class = "dropdowns", id = "ageDDL" })
                    @Html.ValidationMessageFor(m => m.Profile.SelectedWeight, "", new { @class = "text-danger" })  <br />

                    @Html.LabelFor(m => m.Profile.SelectedHeight)
                    @Html.DropDownListFor(m => m.Profile.SelectedHeight, Model.HeightItems, "Select Height", new { @class = "dropdowns", id = "ageDDL" })
                    @Html.ValidationMessageFor(m => m.Profile.SelectedHeight, "", new { @class = "text-danger" })  <br />

                    @Html.LabelFor(m => m.Profile.SelectedBodyType)
                    @Html.DropDownListFor(m => m.Profile.SelectedBodyType, Model.BodyTypeItems, "Select BodyType", new { @class = "dropdowns", id = "ageDDL" })
                    @Html.ValidationMessageFor(m => m.Profile.SelectedBodyType, "", new { @class = "text-danger" })  <br />

                </div>
                <div class="col-sm">
                    @Html.LabelFor(m => m.Profile.SelectedSmokes)
                    @Html.DropDownListFor(m => m.Profile.SelectedSmokes, Model.SmokesItems, "Select Smokes", new { @class = "dropdowns", id = "ageDDL" })
                    @Html.ValidationMessageFor(m => m.Profile.SelectedSmokes, "", new { @class = "text-danger" })  <br />

                    @Html.LabelFor(m => m.Profile.SelectedDiet)
                    @Html.DropDownListFor(m => m.Profile.SelectedDiet, Model.DietItems, "Select Diet", new { @class = "dropdowns", id = "ageDDL" })
                    @Html.ValidationMessageFor(m => m.Profile.SelectedDiet, "", new { @class = "text-danger" })  <br />

                    @Html.LabelFor(m => m.Profile.SelectedDrinks)
                    @Html.DropDownListFor(m => m.Profile.SelectedDrinks, Model.DrinksItems, "Select Drinks", new { @class = "dropdowns", id = "ageDDL" })
                    @Html.ValidationMessageFor(m => m.Profile.SelectedDrinks, "", new { @class = "text-danger" })  <br />

                    @Html.LabelFor(m => m.Profile.SelectedDrugs)
                    @Html.DropDownListFor(m => m.Profile.SelectedDrugs, Model.DrugsItems, "Select Drugs", new { @class = "dropdowns", id = "ageDDL" })
                    @Html.ValidationMessageFor(m => m.Profile.SelectedDrugs, "", new { @class = "text-danger" })  <br />

                    @Html.LabelFor(m => m.Profile.SelectedReligion)
                    @Html.DropDownListFor(m => m.Profile.SelectedReligion, Model.ReligionItems, "Select Religion", new { @class = "dropdowns", id = "ageDDL" })
                    @Html.ValidationMessageFor(m => m.Profile.SelectedReligion, "", new { @class = "text-danger" })  <br />

                    @Html.LabelFor(m => m.Profile.SelectedPets)
                    @Html.DropDownListFor(m => m.Profile.SelectedPets, Model.PetsItems, "Select Pets", new { @class = "dropdowns", id = "ageDDL" })
                    @Html.ValidationMessageFor(m => m.Profile.SelectedPets, "", new { @class = "text-danger" })  <br />
                </div>
            </div>
            <div class="row">

                <div class="col-sm">
                    @Html.LabelFor(m => m.Profile.SelectedEducation)
                    @Html.DropDownListFor(m => m.Profile.SelectedEducation, Model.EducationItems, "Select Education", new { @class = "dropdowns", id = "ageDDL" })
                    @Html.ValidationMessageFor(m => m.Profile.SelectedEducation, "", new { @class = "text-danger" })  <br />

                    @Html.LabelFor(m => m.Profile.SelectedEthnicity)
                    @Html.DropDownListFor(m => m.Profile.SelectedEthnicity, Model.EthnicityItems, "Select Ethnicity", new { @class = "dropdowns", id = "ageDDL" })
                    @Html.ValidationMessageFor(m => m.Profile.SelectedEthnicity, "", new { @class = "text-danger" })  <br />

                    @Html.LabelFor(m => m.Profile.SelectedLanguages)
                    @Html.DropDownListFor(m => m.Profile.SelectedLanguages, Model.LanguagesItems, "Select Languages", new { @class = "dropdowns", id = "ageDDL" })
                    @Html.ValidationMessageFor(m => m.Profile.SelectedLanguages, "", new { @class = "text-danger" })  <br />




                </div>
                <div class="col-sm">
                    @*@Html.TextBoxFor(m => m.ID, new { @class = "hidden" })*@
                    @*@Html.TextBoxFor(m => m.ProfileUser.Id, new { @class = "hidden", @readonly = "readonly" })*@
                    @Html.TextBoxFor(m => m.Profile.Details, new { @class = "" })  <br />
                    @Html.TextBoxFor(m => m.Profile.EducationDescription, new { @class = "" })  <br />
                </div>
                <div class="col-sm">
                    @Html.TextBoxFor(m => m.Profile.Job, new { @class = "" })  <br />
                    @Html.TextBoxFor(m => m.Profile.JobDescription, new { @class = "" })  <br />
                </div>
            </div>
        </div>


        @Html.TextBoxFor(m => m.Profile.DateCreated, new { @class = "hidden", @readonly = "readonly" })
        @Html.TextBoxFor(m => m.Profile.DateLastChange, new { @class = "hidden", @readonly = "readonly" })

        <input type="submit" value="Submit" class="btn btn-secondary" />

    }

</div>
