@using catchme.bg.Areas.Identity.Data
@using catchme.bg.Controllers
@model catchme.bg.Models.SearchViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


@using (Html.BeginForm("Index", "Search", FormMethod.Post, new {@class = "", enctype = "multipart/form-data"}))
{

    @Html.HiddenFor(m=>m.Profiles)
    @Html.HiddenFor(m=>m.Users)
    <ul>
        @for (var i = 0; i < Model.PetsFilter.Count(); i++)
        {
            <li>
                @Html.CheckBoxFor(m => m.PetsFilter[i].Selected)
                @Html.LabelFor(m => m.PetsFilter[i].Selected, @Model.PetsFilter.ElementAt(i).Name)
                @Html.HiddenFor(m => m.PetsFilter[i].Id)
                @Html.HiddenFor(m => m.PetsFilter[i].Name)
            </li>
        }
    </ul>
    <button type="submit" name="action">Filter</button>
    <table>
        <tr>
            <th>Username</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                <td></td>
            </tr>
        }
    </table>
    @(Html.Kendo().Grid<CatchmebgUser>()
          .Name("grid")
          .Columns(columns =>
          {
              columns.Bound(c => c.UserName).Width(140);
              columns.Bound(c => c.Email).Width(190);
          })
          .HtmlAttributes(new { style = "height: 380px;" })
          .Scrollable()
          .Groupable()
          .Sortable()
          .Pageable(pageable => pageable
              .Refresh(true)
              .PageSizes(true)
              .ButtonCount(5))
          .DataSource(dataSource => dataSource
              .Ajax()
              .Read(read => read.Action("Users_Read", "Search", new { users = @Model.Users }))
          )
          )
}
