@using catchme.bg.Areas.Identity.Data
@using catchme.bg.Controllers
@using catchme.bg.Models
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Routing
@using X.PagedList
@using X.PagedList.Mvc.Core
@model catchme.bg.Models.SearchViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Search", FormMethod.Post, new { @class = "", enctype = "multipart/form-data", id = "searchForm" }))
{
    @Html.HiddenFor(m => m.Profiles)
    @Html.HiddenFor(m => m.Users)
    @Html.HiddenFor(m => m.AgeFilter.FilterUserId)
    <ul>
        @for (var i = 0; i < Model.PetsFilter.Count(); i++)
        {
            <li>
                @Html.CheckBoxFor(m => m.PetsFilter[i].Selected)
                @Html.LabelFor(m => m.PetsFilter[i].Selected, @Model.PetsFilter.ElementAt(i).Name)
                @Html.HiddenFor(m => m.PetsFilter[i].ItemId)
                @Html.HiddenFor(m => m.PetsFilter[i].Name)
                @Html.HiddenFor(m => m.PetsFilter[i].FilterUserId)
            </li>
        }
    </ul>
    <div class="form-group row">
        @Html.LabelFor(m => m.AgeFilter.ItemId, "Age: ", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-5">
            @Html.DropDownListFor(m => m.AgeFilter.ItemId, Model.AgeItems, "Select Age", new { @class = "form-control", id = "ageDDL" })
            @Html.ValidationMessageFor(m => m.AgeFilter.ItemId, "", new { @class = "text-danger" })
        </div>
    </div>
    <button type="submit" name="action">Filter</button>
    <table>
        <tr>
            <th>Username</th>
            <th></th>
        </tr>
        @foreach (var item in Model.OnePageOfUsers)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                <td></td>
            </tr>
        }
    </table>
    <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
    @Html.PagedListPager((IPagedList)Model.OnePageOfUsers, page => Url.Action("Index", new { page = page}),
        new PagedListRenderOptions {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }})
}
